{% extends 'project/base.html' %}

{% block content %}
    <h2>New Project</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    {{ form.errors }}
{% endblock %}


<form method="POST" class="post-form"><input type="hidden" name="csrfmiddlewaretoken" value="xu2Kjdtv99qj2mt0LwXGHDS8Z1IrAZpeWYy3Pn9ddT5rEXW9n14vdtr1JqIHaQms">

    <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="150" autofocus required id="id_username"> <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></p>
<p><label for="id_email">Email address:</label> <input type="email" name="email" maxlength="254" id="id_email"></p>
<p><label for="id_password1">Password:</label> <input type="password" name="password1" required id="id_password1"> <span class="helptext"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></span></p>
<p><label for="id_password2">Password confirmation:</label> <input type="password" name="password2" required id="id_password2"> <span class="helptext">Enter the same password as before, for verification.</span></p>
    <button type="submit" class="save btn btn-default">Save</button>
</form>
